    .bjimg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    object-fit: cover;
    }

    header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    }

    header img {
    display: block;
    height: 60px;
    padding-top: 20.15px;
    }

    ul a {
        text-decoration: none;
    }

    #underline {
        position: relative;/*相对定位*/
        top: 8%;
        left: -50%;
        color: white;
        font-size: 1px; /*设置定位和长度（用字体大小调节下划线长度）*/
        visibility: visible; /*先设置可见度为隐藏*/
    }

    #underline1 {
        position: relative;/*相对定位*/
        top: 8%;
        left: -50%;
        color: rgb(6, 170, 240);
        font-size: 1px; /*设置定位和长度（用字体大小调节下划线长度）*/
        visibility: visible; /*先设置可见度为隐藏*/
    }

    a:hover>#underline{ /*此处修改了包含关系，所以改为a:hover*/
    color:rgb(6, 170, 240)
    }

    a:hover>nav{
    color:rgb(6, 170, 240)
    }

    a:focus>#underline{
    color:rgb(6, 170, 240)
    }

    p div img{
    padding-top: 700px;
    }

    nav {
        margin-left: 14%;
        height: 50px;
        flex: 100%;
        display: flex;
      }
      
      nav ul {
        padding: 0;
        list-style-type: none;
        flex: 2;
        display: flex;
      }
      
      nav li {
        display: inline;
        text-align: center;
        flex: 1;
      }

      nav a {
        display: inline-block;
        font-size: 1.5rem;
        height: 3rem;
        line-height: 1.7;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
      }